body {
    width: auto;
    height: auto;
}

.header-information {
    width: auto;
    height: 184px;
    margin: auto;
    width: 50%;
    padding-top: 52px;
}
.header-information-logo, .header-information-text  {
    display: inline;
}
.header-information-text {
    width: 749px;
    color: red;
}