@media (max-width: 768px) {

    .header-text {
        max-width: 591px;
    }

    .header-logo {
        position: relative;
        left: 5%;
    }

    .about-us-img {
        height: 100px;
        width: 95%;
        position: relative;
        top: -20px;
    }



    .footer-info {
        float: right;
    }
}