@media (max-width: 1280px) {
    
    .header-logo {
        position: relative;
        left: 15%;
    }

    .carousel-info {
        max-height: 430px;
    }

    .about-us-img {
        height: 400px;
        width: auto;
    }

    .slider__content_title > h2{
        font-size: 5px;
    }

    .about-us, .courses, .ads, .news, .partner, .question {
        padding-left: 3%;
        padding-right: 3%;
    }

    .partner-info {
        max-width: 267px;
        max-height: 190px;
    }
}