body {
    width: auto;
    height: auto;
}

.header-information {
    width: auto;
    height: 184px;
    margin: auto;
    position: relative;
    left: 20%;
    padding-top: 52px;
}
.header-information-logo {
    display: block;
    position: absolute;
}
.header-information-text {
    width: 749px;
    color: red;
    position: relative;
    left: 80px;
    top: 10px;
}

.carousel-width-height {
    width: auto;
    height: 430px;
}

.carousel-item-position {
    position: absolute;
    top: 25%;
    left: -40%;
}

