
body {
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    min-height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14),
    0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);

}

.header-logo {
    position: relative;
    left: 25%;
    top: 40px;
    display: table;
}

.display-table-cell {
    display: table-cell;
}

.display-table-cell-logo{
    position: relative;
    top: 15px;
}

.borderright {
    border: 2px solid #008733;

}

.header-text {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    word-wrap: break-word;
    max-width: 750px;
    /* or 136% */

    display: flex;
    align-items: center;

    /* Monochrome / Black */
    margin-left: 10px;
    color: #000000;
}

.header-line {
    position: relative;
    height: 0px;
    left: 0px;
    right: 0px;

    /* Branded Colors / Fun Green */

    border: 2px solid #008733;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

.hamburger-menu {
    position: relative;
    width: 100%;
    background-color: #008733;
    background: #FFFFFF;
/* 4dp — Elevation */

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14),
    0px 4px 5px rgba(0, 0, 0, 0.12), 
    0px 1px 10px rgba(0, 0, 0, 0.2);

    margin:0 auto;
    
    float: center;
}

.hamburger-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-transform: uppercase;

    /* Monochrome / Black */

    color: #000000;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 15px;

}

.hamburger-slide {
    position: static;
    left: 20%;
}

li > a {
    display: inline-block;
    color: #008733;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap
}
li > a:after {
    background-color: #008733;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

li > a:hover:after, li > a:focus:after {
    width: 100%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

.carousel-info {
    position: relative;
    max-height: 430px;
    top: 0px;
}

.gradient {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 22.32%, #000000 96.35%), url(../material/images/Slider_Image_01.jpg);
}

.carousel-img {
    width: auto;
    max-height: 430px;
}

.carousel-text {
    color: #FFFFFF;
    float: left;
}

.carousel-text > h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 46px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.carousel-text > h1 > p {
    border-bottom: 3px solid #FFFFFF;
    position: relative;
    top: 20px;
}

.carousel-text > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */


    /* Monochrome / White */

    color: #FFFFFF;

    float: left;
    word-wrap: break-word;
    display: flex;
    align-items: center;

}

.carousel-item > img {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.52) 22.32%, #000000 96.35%);
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

.breadcrumb {
    padding-right: 10%;
    padding-left: 10%; 
}

.active_link {
    border-bottom: 3px solid #008733;
  }
  
.about-us {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    min-height: auto;

    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
}

.about-us-preview {
    display: table-cell;
}

.about-us-preview > h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 55px;

    /* Monochrome / Black */

    color: #000000;

    /* Inside Auto Layout */

    flex: none;

    float: left;
    position: relative;
    left: 10%;

    border-bottom: 3px solid #008733;
}

.about-us-more {
    position: relative;
    right: 10%;
    bottom: 30px;
}

.about-us-more > a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: right;

    /* Branded Colors / Fun Green */

    color: #008733;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    float: right;
}

.about-us-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;

    overflow: hidden; 

    width: auto;
    height: 50%;
}

.about-us-text > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    /* Monochrome / Black */

    color: #000000;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;

    text-indent: 20px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */


.courses {
    background-color: #D4EDDA;;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

.ads {
    background-color: #F4F4F4;
    position: relative;
    width: 100%;
    height: 500px;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
}



















.news {
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
    height: 500px;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
}


.partner {
    background-color: #EAEAEA;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
}

.partner-info {
    MIN-width: 310px;
    height: 190px;
    background-color: #aeaea2;
    padding: 1%;
    margin: 3%;
}

.question {
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
    height: 500px;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
footer {
    background-color: #155724;
    min-height: 350px;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
}

.footer-main {
    position: relative;
    display: table-cell;
}

.footer-main-logo, .footer-main-text {
    display: table-cell;
}

.footer-main-text-span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    /* or 136% */

    display: flex;
    align-items: center;

    /* Monochrome / White */

    color: #FFFFFF;

    width: 300px;
}

.footer-info {
    max-width: 870px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */


    /* Monochrome / White */

    color: #FFFFFF;


    display: table-cell;

    padding-top: 20px;
}

.footer-line {
    border: 1px solid #008733;
    transform: rotate(-180deg);

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 20px;
}

.footer-info-main {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */


    /* Monochrome / White */

    color: #FFFFFF;
}

.footer-info-text {
    padding-top: 5px;
}

.footer-info-low-main {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */


    /* Monochrome / White */

    color: #FFFFFF;
}

.footer-info-contact {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.footer-info-contact-righrt {
    float: right;
}

.developers-href {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */


    /* Branded Colors / Chateau Green */

    color: #46AD51;
    

}

.footer-low-text-span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Monochrome / White */

    color: #FFFFFF;

    float: bottom;

    padding-top: 30px;
}