@media (max-width: 360px) {

    .about-us-page {
        padding-top: 0%;
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 3%;
    }

    .leader-img {
        width: 164px;
        height: 164px;
    }

    .leader-name {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    text-align: center;

    /* Monochrome / Black */

    color: #000000;
    }

    .leader-role {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        /* or 114% */
        
        text-align: center;
        
        /* Monochrome / Black */
        
        color: #000000;
    }

    .task-center {
        font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    /* or 158% */


    /* Monochrome / Black */

    color: #000000;
    }

    .function-center {
        font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    /* or 158% */


    /* Monochrome / Black */

    color: #000000;
    }
}