@media (max-width: 360px) {

    .contact {
        padding-top: 1%;
        padding-right: 1%;
        padding-left: 1%;
        padding-bottom: 1%;
        height: auto;
    }

    .contact > h1 {
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
    }

    .contact_text {
        font-size: 24px;
        line-height: 33px;
    }

    .contact > iframe {
        width: 100px;
        height: 100px;
    }

    .contact_info > span {
        font-size: 16px;
        line-height: 19px;

        display: block;
    }

}