body {
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    min-height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14),
    0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);

}

.header-logo {
    position: relative;
    left: 25%;
    top: 40px;
    display: table;
}

.display-table-cell {
    display: table-cell;
}

.display-table-cell-logo{
    position: relative;
    top: 15px;
}

.borderright {
    border: 2px solid #008733;

}

.header-text {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    word-wrap: break-word;
    max-width: 750px;
    /* or 136% */

    display: flex;
    align-items: center;

    /* Monochrome / Black */
    margin-left: 10px;
    color: #000000;
}



.header-line {
    position: relative;
    height: 0px;
    left: 0px;
    right: 0px;

    /* Branded Colors / Fun Green */

    border: 2px solid #008733;
}







/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

.hamburger-menu {
    position: relative;
    width: 100%;
    background-color: #008733;
    background: #FFFFFF;
/* 4dp — Elevation */

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14),
    0px 4px 5px rgba(0, 0, 0, 0.12), 
    0px 1px 10px rgba(0, 0, 0, 0.2);

    margin:0 auto;
    
    float: center;
}

.hamburger-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-transform: uppercase;

    /* Monochrome / Black */

    color: #000000;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 15px;

}

.hamburger-slide {
    position: static;
    left: 20%;
}

li > a {
    display: inline-block;
    color: #008733;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap
}
li > a:after {
    background-color: #008733;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

li > a:hover:after, li > a:focus:after {
    width: 100%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

.carousel-info {
    position: relative;
    max-height: 430px;
    top: 0px;
}

.gradient {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 22.32%, #000000 96.35%), url(../material/images/Slider_Image_01.jpg);
}

.carousel-img {
    width: auto;
    max-height: 430px;
}

.carousel-text {
    color: #FFFFFF;
    float: left;
}

.carousel-text > h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 46px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.carousel-text > h1 > p {
    border-bottom: 3px solid #FFFFFF;
    position: relative;
    top: 20px;
}

.carousel-text > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */


    /* Monochrome / White */

    color: #FFFFFF;

    float: left;
    word-wrap: break-word;
    display: flex;
    align-items: center;

}

.carousel-item > img {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.52) 22.32%, #000000 96.35%);
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

.breadcrumb {
    padding-right: 10%;
    padding-left: 10%; 
}

.active_link {
    border-bottom: 3px solid #008733;
  }
  
.about-us {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    min-height: auto;

    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
}

.about-us-preview {
    display: table-cell;
}

.about-us-preview > h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 55px;

    /* Monochrome / Black */

    color: #000000;

    /* Inside Auto Layout */

    flex: none;

    float: left;
    position: relative;
    left: 10%;

    border-bottom: 3px solid #008733;
}

.about-us-more {
    position: relative;
    right: 10%;
    bottom: 30px;
}

.about-us-more > a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: right;

    /* Branded Colors / Fun Green */

    color: #008733;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    float: right;
}

.about-us-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;

    overflow: hidden; 

    width: auto;
    height: 50%;
}

.about-us-text > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    /* Monochrome / Black */

    color: #000000;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;

    text-indent: 20px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */


.courses {
    background-color: #D4EDDA;;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
}

.courses-slider {
    min-height: 300px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

.ads {
    background-color: #F4F4F4;
    position: relative;
    width: 100%;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
}


.ads-info {
    display: inline-block;
}


.ads-info-block {
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2),0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    
    padding: 10px;
}

.ads-info-leftarrow, .ads-info-rightarrow {
    width: 70px;
}

.ads-info-leftarrow-img, .ads-info-rightarrow-img {
    top: 50%;
    max-width: 64px;
    max-height: 64px;

    display: inline-block;
}

.ads-info-leftarrow-img > img, .ads-info-rightarrow-img > img {
    position: absolute;
    top: 50%;
}

.ads-info-leftarrow, .ads-info-rightarrow, .ads-info-block {
    display: table-cell;
    margin: 10px;
}



.ads-info-block-person-img, .ads-info-block-person-name {
    display: table-cell;
}

.ads-info-block-person-img > img {
    width: 85px;
    height: 85px;
    border-radius: 100px;

    position: relative;
    top: 20px;

    margin-right: 20px;
}

.ads-info-block-person-name-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    /* or 121% */
    
    
    /* Monochrome / Black */
    
    color: #000000;
}

.ads-info-block-person-name-mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    
    
    /* Branded Colors / Fun Green */
    
    color: #2E7F3C;
}

.ads-info-block-description-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    /* or 158% */


    /* Monochrome / Scorpion */

    color: #5C5C5C;
}

.ads-info-block-description-status {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
    /* or 158% */
    
    
    /* Universal / Lochmara */
    
    color: #0089D6;
    
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */




.news {
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
}

.news-block-information {
    display: inline-block;
}

.news-block-information-first, .news-block-information-second ,
.news-block-information-third {
    display: inline-block;

    width: 30%;

    background: #FFFFFF;
    
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2),
     0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}

.news-block-information-first > img,.news-block-information-second > img,
.news-block-information-third > img  {
    width: 100%;
    height: 230px;
}

.news-block-information-text  {
    padding: 3%;
}

.news-block-information-text-tittle {
    display: block;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.news-block-information-text-date {
    display: block;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    
    color: #155724;
}

.news-block-information-text-text {
    display: block;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    /* Monochrome / Scorpion */
    
    color: #5C5C5C;
    
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */


.partner {
    background-color: #EAEAEA;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
}

.partner-block-item {
    width: 100%;
    padding-left: 0%;
}

.partner-block-icon {
    display: inline-block;
    width: 22%;
    height: 200px;

    padding: 30px;
}

.partner-block-icon > img {
    width: 100%;
    height: 100%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */


.question {
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
}

.leave-reviews {
    padding-top: 30px;
    min-height: 300px;
}

.form-control {
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-check-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;

    /* Monochrome / Black */

    color: #000000;
}
 
.enter-fio, .enter-email {
    width: 45%;
    display: inline-block;
}

.enter-reviews {
    display: inline-block;
    width: 100%;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */

footer {
    background-color: #155724;
    min-height: 350px;
    padding-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
}

.footer-main {
    position: relative;
    display: table-cell;
}

.footer-main-logo, .footer-main-text {
    display: table-cell;
}

.footer-main-text-span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    /* or 136% */

    display: flex;
    align-items: center;

    /* Monochrome / White */

    color: #FFFFFF;

    width: 300px;
}

.footer-info {
    max-width: 870px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */


    /* Monochrome / White */

    color: #FFFFFF;


    display: table-cell;

    padding-top: 20px;
}

.footer-line {
    border: 1px solid #008733;
    transform: rotate(-180deg);

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 20px;
}

.footer-info-main {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */


    /* Monochrome / White */

    color: #FFFFFF;
}

.footer-info-text {
    padding-top: 5px;
}

.footer-info-low-main {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* or 114% */


    /* Monochrome / White */

    color: #FFFFFF;
}

.footer-info-contact {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.footer-info-contact-righrt {
    float: right;
}

.developers-href {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */


    /* Branded Colors / Chateau Green */

    color: #46AD51;
    

}

.footer-low-text-span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Monochrome / White */

    color: #FFFFFF;

    float: bottom;

    padding-top: 30px;
}












@media (max-width: 1280px) {
    
    .header-logo {
        position: relative;
        left: 15%;
    }

    .carousel-info {
        max-height: 430px;
    }

    .about-us-img {
        height: 400px;
        width: auto;
    }
    .about-us, .courses, .ads, .news, .partner, .question {
        padding-left: 3%;
        padding-right: 3%;
    }

    .partner-info {
        max-width: 267px;
        max-height: 190px;
    }

    .partner-block-icon {
        width: 25%;
    
        padding: 15px;
    }
    
}

@media (max-width: 1024px) {

    .header-logo {
        position: relative;
        left: 10%;
    }

    .about-us-img {
        height: 200px;
        width: auto;
    }

    .news-block-information-first, .news-block-information-second {
        width: 45%;
    }

    .news-block-information-third {
        display: none;
    }
}

@media (max-width: 768px) {

    .header-text {
        max-width: 591px;
    }

    .header-logo {
        position: relative;
        left: 5%;
    }

    .about-us-img {
        height: 100px;
        width: 95%;
        position: relative;
        top: -20px;
    }

    .enter-fio, .enter-email {
        width: 100%;
        display: block;
    }

    .footer-info {
        float: right;
    }

    .partner-block-icon {
        width: 35%;
    
        padding: 5px;
    }

    .news-block-information-first, .news-block-information-second {
        margin: 10px;
        width: 100%;
    }

    .ads-info-block-hide, .ads-info-leftarrow, .ads-info-rightarrow {
        display: none;
    }
    .ads-info-block {
        left: 20%;
    }

    .ads-info-block-description {
        margin-top: 30px;
    }
}


@media (max-width: 576px) {
    .header-text {
        max-width: 250px;
        font-size: 16px;
        line-height: 23px;  
    }

    .header-logo {
        position: relative;
        left: 3%;
    }

    footer {
        padding-top: 3%;
        padding-right: 3%;
        padding-left: 3%;
        padding-bottom: 3%;
    }

    .footer-main-text-span {
        font-size: 16px;
        line-height: 23px;
        width: 90%;
    }
    
    .about-us-preview > h1 {
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
    }

    .form-check-label {
        font-size: 12px;
        line-height: 19px;
    }

    .partner-block-item {
        padding-left: 10%;
    }
    
    .partner-block-icon {
        width: 100px;
        height: 110px;
    
        padding: 0px;
    }

    .ads-info-block-person-img > img {
    
        margin-right: 5px;
    }

    .news-block-information-text-tittle {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    
    .news-block-information-text-date {
        font-size: 12px;
        line-height: 19px;
    }
    
    .news-block-information-text-text {
        font-size: 12px;
        line-height: 19px;
    }
    .ads-info-block-person-name-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    
    .ads-info-block-person-name-mail {
        font-size: 14px;
        line-height: 16px;
    }
    
    .ads-info-block-description-text {
        font-size: 12px;
        line-height: 19px;
    }
    
    .ads-info-block-description-status {
        font-weight: 300;
        font-size: 12px;
        line-height: 19px;
    }
}




@media (max-width: 360px) {

    .navbar {
        width: 100%;
    }

    .header-text {
        max-width: 80%;
        font-size: 11px;
        line-height: 14px;
    }

    .header-logo {
        position: relative;
        left: 5%;
    }

    .carousel-text > h1 { 
        font-size: 10px;
        border-bottom: 0px;
    }

    .carousel-text > p {
        font-size: 5px;
    }

    .about-us-more {
        position: relative;
        right: 0%;
        bottom: 30px;
    }

    .about-us-img {
        height: 150px;
        width: 99%;
    }

    .about-us-preview > h1 { 
        font-size: 20px;
    }

    .about-us-more > p { 
        font-size: 12px;
    }

    .about-us-text > p {
        font-size: 12px;
    }
    footer {
        padding-top: 1%;
        padding-right: 1%;
        padding-left: 0%;
        padding-bottom: 1%;
    }

    .footer-info-main {
        font-size: 14px;
        line-height: 16px;
    }
    
    .footer-info-low-main {
        font-size: 11px;
        line-height: 14px;
    }

    .footer-info-contact {
        font-size: 12px;
        line-height: 16px;
        float: left;
        padding: 5px;
    }

    .developers-href {
        float: left;
    }

    .footer-low-text-span {
        font-size: 8px;
        line-height: 12px;
    }

    .footer-main-text-span {
        font-size: 16px;
        line-height: 23px;
        width: 90%;
    }
}

