.ads-content {
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 3%;
}

.ads-content-img {
    display: table;
    position: relative;
}

.img-text-date {
    position: absolute;
    top: 25px;
    left: 25px;


    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */

    text-align: center;

    /* Branded Colors / Fun Green */

    color: #008733;
}

.ads-content-img > img, .ads-content-img > span {
    display: table-cell;
}

.ads-content-img-text > a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height, or 136% */
    
    display: flex;
    align-items: center;
    
    /* Monochrome / Black */
    
    color: #000000;

    text-decoration: none;

    position: relative;

    left: 10px;
    bottom: 30px;
}