@media (max-width: 360px) {

    .developers {
        padding-right: 1%;
        padding-left: 1%;
        padding-bottom: 3%;
    }

    img {
        width: 98px;
        height: 98px;
    }

    .name {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .role {
        font-size: 12px;
        line-height: 19px;
    }
}