@media (max-width: 360px) {

    .partner-text {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        
        
        /* Monochrome / Black */
        
        color: #000000;

        float: center;
    }

    .partner-button > button {
        position: relative;
        left: 20%;
    
        width: 200px;
    }

}